@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000555;
  --nadeshiko-blue: #000555;
  --nadeshiko-red: #EE8EA0;
  /* Nadeshiko Pink */
  --nadeshiko-light: #5F99CF;
  --nadeshiko-white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nadeshiko-blue: var(--nadeshiko-blue);
  --color-nadeshiko-red: var(--nadeshiko-red);
  --color-nadeshiko-light: var(--nadeshiko-light);
  --color-nadeshiko-white: var(--nadeshiko-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}